.popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 3500;
    align-items: center;
    display: none;
    
    &__content{
        width: 75%;
        background-color: #fff;
        height: 40vh ;
        //font-size: $default-font-size;
    }
}