.story{
    width: 75%;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: .3rem;
    padding: 6rem;
    padding-left: 10rem;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    font-size: $default-font-size;

    transform: skewX(-12deg);
    -webkit-transform: skewX(-12deg);
    -moz-transform: skewX(-12deg);
    -ms-transform: skewX(-12deg);

    @include respond(tab-port){
        width:100%;
    }

    @include respond(phone){
        width:100%;
        transform: skewX(0);
        -webkit-transform: skewX(0);
        -moz-transform: skewX(0);
        -ms-transform: skewX(0);
    }

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    & > * {
        transform: skewX(12deg);
        -webkit-transform: skewX(12deg);
        -moz-transform: skewX(12deg);
        -ms-transform: skewX(12deg);

        @include respond(phone){
            width:100%;
            transform: skewX(0);
            -webkit-transform: skewX(0);
            -moz-transform: skewX(0);
            -ms-transform: skewX(0);
        }
    }

    &__shape {
        width: 16rem;
        height: 16rem;
        float: left;
        transform: translateX(-4rem) skewX(12deg);
        position: relative;
        overflow: hidden;

        //defining where the content should be outside the shape
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        -moz-shape-outside: circle(50% at 50% 50%);
        -ms-shape-outside: circle(50% at 50% 50%);
         
        
         //Circle polygon
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        -moz-clip-path: circle(50% at 50% 50%);
        -ms-clip-path: circle(50% at 50% 50%);

        @include respond(phone){
            transform: translateX(0) skewX(0);
            -webkit-transform: translateX(0) skewX(0);
            -moz-transform: translateX(0) skewX(0);
            -ms-transform: translateX(0) skewX(0);
            margin:1rem;

            //defining where the content should be outside the shape
            shape-outside: circle(60% at 85% 40%);
            -webkit-shape-outside: circle(60% at 85% 40%);
        }

        &--image{
            height: 100%;
            transform: translateX(-4rem) skewX(-2deg) scale(1.4);
            backface-visibility: hidden;
            transition: all .5s;
        }
    }

    &__text{
        color: $color-black;
    }

    &__caption{
        @include absCenter;
        color: $color-white;
        font-size: 1.7rem;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;        
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    &:hover &__shape--image {
        transform: translateX(-4rem) skewX(0) scale(1);
        filter: blur(.3rem) brightness(80%);
    }
}