/*
@media screen and (max-width:120rem){
    html{
        font-size:12px;
    }
}

@media screen and (max-width:90rem){
    html{
        font-size:10px;
    }
}

@media screen and (max-width:80rem){
    html{
        font-size:8px;
    }
}

@media screen and (max-width:70rem){
    html{
        font-size:7px;
    }
}

@media screen and (max-width:60rem){
    html{
        font-size:6px;
    }
}

@media screen and (max-width:50rem){
    html{
        font-size:4px;
    }
}

@media screen and (max-width:37rem){
    html{
        font-size:4px;
    }
}

@media screen and (max-width:28.5rem){
    html{
        font-size:2px;
    }
}
*/