@media screen and (max-width:80rem){
    html{
        font-size:8px;
    }
}

@media screen and (max-width:60rem){
    html{
        font-size:6px;
    }
}

@media screen and (max-width:46.5rem){
    html{
        font-size:5px;
    }
}

@media screen and (max-width:37rem){
    html{
        font-size:4px;
    }
}

@media screen and (max-width:28.5rem){
    html{
        font-size:2px;
    }
}
